[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
target-version = ['py312']

[tool.flake8]
max-line-length = 88
max-complexity = 10
max-doc-length = 140
extend-ignore = [
    "E203",
    "E501",
]

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.12"
strict = true
# Start off with these
warn_unused_configs = true
warn_redundant_casts = true
warn_unused_ignores = true

# Getting these passing should be easy
strict_equality = true
strict_concatenate = true

# Strongly recommend enabling this one as soon as you can
check_untyped_defs = true

# These shouldn't be too much additional work, but may be tricky to
# get passing if you use a lot of untyped libraries
disallow_subclassing_any = true
disallow_untyped_decorators = true
disallow_any_generics = true

# These next few are various gradations of forcing use of type annotations
disallow_untyped_calls = true
disallow_incomplete_defs = true
disallow_untyped_defs = true

# This one isn't too hard to get passing, but return on investment is lower
no_implicit_reexport = true

# This one can be tricky to get passing if you use a lot of untyped libraries
warn_return_any = true

[tool.poetry]
name = "pyofscraperstash"
version = "0.2.1"
description = "A python library to import the metadata generated by the OF-Scraper project into a Stash app instance."
authors = ["kb1ibt <github@kb1ibt.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.12"
aiohttp = "^3.9.5"
aiomultiprocess = "^0.9.1"
aiosqlite = "^0.20.0"
stashapp-tools = "^0.2.43"
pyyaml = "^6.0.1"
tqdm = "^4.66.4"
python-dateutil = "^2.9.0.post0"
numpy = "^2.0.0"

[tool.poetry.group.dev.dependencies]
black = "^24.4.2"
isort = "^5.13.2"
mypy = "^1.10.0"
pylint = "^3.2.2"
bandit = "^1.7.8"
flake8 = "^7.1.0"

[tool.pylint]
