version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 1
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 2
    assignees:
      - "Jakan-Kink"
    reviewers:
      - "Jakan-Kink"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(deps):"
